
<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
    <ion-button href="/tabs/tab2" end> Back </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
    <ion-label class="labelSize" position="floating">Carrier</ion-label>
    <ion-input [(ngModel)]="carrier" name="carrier" class="inputSize" placeholder="Enter Carrier"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="labelSize" position="floating">Flightnumber</ion-label>
    <ion-input [(ngModel)]="flightnumber" name="flightnumber" type="number" class="inputSize" placeholder="Enter Flightnumber (number)"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="labelSize" position="floating">Year</ion-label>
    <ion-input [(ngModel)]="year" name="year" type="number" class="inputSize" placeholder="Enter Year (number)"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="labelSize" position="floating">Month</ion-label>
    <ion-input [(ngModel)]="month" name="month" type="number" class="inputSize" placeholder="Enter Month (number)"></ion-input>
</ion-item>
<ion-item>
    <ion-label class="labelSize" position="floating">Day</ion-label>
    <ion-input [(ngModel)]="day" name="day" type="number" class="inputSize" placeholder="Day (number)"></ion-input>
</ion-item>
<ion-button (click)='searchSchedules($event)' class="btnSend" type="submit" block>Send</ion-button>

<ng-template [ngIf]="usuarios">
    <ion-list>
    <ion-item>Departure Aiport: <div [innerHTML]="usuarios.scheduledFlights[0].departureAirportFsCode | json"></div></ion-item>
    <ion-item>Arrival Aiport: <div [innerHTML]="usuarios.scheduledFlights[0].arrivalAirportFsCode | json"></div></ion-item>
    <ion-item>Stops: <div [innerHTML]="usuarios.scheduledFlights[0].stops | json"></div></ion-item>
    <ion-item>Arrival Terminal: <div [innerHTML]="usuarios.scheduledFlights[0].arrivalTerminal | json"></div></ion-item>
    <ion-item>Departure Time: <div [innerHTML]="usuarios.scheduledFlights[0].departureTime | json"></div></ion-item>
    <ion-item>Arrival Time: <div [innerHTML]="usuarios.scheduledFlights[0].arrivalTime | json"></div></ion-item>
    </ion-list>
</ng-template>

</ion-content>
